
#container {
    margin: 0 auto;
    position: relative;
    text-align: left;
    padding: 25px 40px 10px 40px;
    border-top: 1px solid #111144;
    border-right: 1px solid #111144;
    border-bottom: none;
    border-left: 1px solid #111144;
    background: #fff;
}


#container2 {
    margin: 0 auto;
    position: relative;
    text-align: left;
    padding: 25px 40px 10px 40px;
    border-top: none;
    border-right: 1px solid #111144;
    border-bottom: 1px solid #111144;
    border-left: 1px solid #111144;
    background: #fff;
}

#logo {
    float: right;
    position: relative;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5em;
}
    // .sameheight {
    //     height: 300px;
    // }
@media only screen and (min-width: 768px) {
    .large-10 {
        position: relative;
        width: 83.33333%;
    }
}
	@media (min-width: 768px) and (orientation:landscape) {
			.sameheight {
				height: 190px;
			}
		}

		@media (max-width: 768px) and (orientation:portrait) {
			.sameheight {
				height: 600px;
			}
		}

		@media (max-width: 768px) and (orientation:landscape) {
			.sameheight {
				height: 270px;
			}
        }